.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    background-color: aqua;
    padding: 10px;
    gap: 10px;
}

.navbar-item {
    background-color: bisque;
    padding: 20px
}

.active-navbar-item {
    background-color: aliceblue;
    padding: 20px
}