.website-header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.website-title {
    display: flex;
    flex: 0;
    background-color: darkslategrey;
    color: aliceblue;
    font-size: 4rem;
    margin: 0px;
    padding: 20px;
}