.website-header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0);
}

.header-main {
    flex: 0;
    flex-direction: row;
    background-color: rgba(0,0,0,0.5);
}

.header-fadeout {
    height: 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
}