.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(darkblue, pink);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-content {
  flex: 5;
  display: flex;
  color: white;
  padding: 5%;
}

.App-footer {
  flex: 1;
  font-size: 20vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  animation: doggieAnimation 10s linear infinite;
}

@keyframes doggieAnimation {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(25%, 0%)
  }
  75% {
    transform: translate(-25%, 0%)
  }
}